<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Boton Agregar Docente</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <section th:fragment="botonAgregarDocente" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <a href="#" class="btn btn-primary btn-block"
                           data-toggle="modal" data-target="#agregarDocente">
                            <i class="fas fa-plus"></i> [[#{accion.agregar}]]
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
