<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Boton Agregar Alumno</title>
	<meta charset="UTF-8" />
</head>

<body>
	<section th:fragment="editarAlumno">
		<form th:action="@{/guardarDocente}" th:object="${persona}" method="POST" class="was-validated">

			<input type="hidden" name="idPersona" th:field="*{idPersona}" />

			<section th:replace="layout/botonesEditarDocente :: botonesEditarDocente"></section>

			<div id="details">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="card">
								<div class="card-header">
									[[#{accion.editar}]]
								</div>
								<div class="card-body">

									<div class="form-group">
										<label for="dni">[[#{persona.dni}]]</label>
										<input type="number" class="form-control" name="dni" required="true"
											th:field="*{dni}" />
									</div>
									<div class="form-group">
										<label for="nombre">[[#{persona.nombre}]]</label>
										<input type="text" class="form-control" name="nombre" required="true"
											th:field="*{nombre}" />
									</div>
									<div class="form-group">
										<label for="apellido">[[#{persona.apellido}]]</label>
										<input type="text" class="form-control" name="apellido" required="true"
											th:field="*{apellido}" />
									</div>
									<div class="form-group">
										<label for="email">[[#{persona.email}]]</label>
										<input type="email" class="form-control" name="email" required="true"
											th:field="*{email}" />
									</div>
									<div class="form-group">
										<label for="telefono">[[#{persona.telefono}]]</label>
										<input type="tel" class="form-control" name="telefono" th:field="*{telefono}" />
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</section>
</body>

</html>