<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Listado Asignaciones</title>
	<meta charset="UTF-8" />
</head>

<body>
	<section th:fragment="listadoAsignaciones" id="asignaciones">

		<div class="container">
			<div class="row">
				<div class="col-md-3 mt-4 mb-4">
					<a th:href="@{/asignacion/agregarAsignacion}" class="btn btn-primary btn-block">
						<i class="fas fa-plus"></i> [[#{accion.agregar}]]
					</a>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4>[[#{asignacion.titulo-list}]]</h4>
						</div>

						<div th:if="${asignaciones != null and !asignaciones.empty}">
							<table class="table table-stryped">
								<thead class="thead-dark">
									<tr>
										<th>#</th>
										<th th:text="#{asignacion.persona}">Persona</th>
										<th th:text="#{asignacion.clase}">Clase</th>
										<th th:text="#{asignacion.fecha}">Fecha</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="a, contador : ${asignaciones}">
										<td>[[${contador.count}]]</td>
										<td>[[${a.persona.nombre} + ' ' + ${a.persona.apellido} +' ('+
											${a.persona.Class.getSimpleName()} +')']]</td>
										<td>[[${a.clase.nombre}]]</td>
										<td>[[${#dates.format(a.fecha, 'dd-MMMM-yyyy')}]]</td>
										<td>
											<a th:href="@{/asignacion/eliminar(idAsignacion=${a.idAsignacion})}"
												class="btn btn-danger">
												<i class="fas fa-angle-double-right"></i> [[#{accion.eliminar}]]
											</a>
										</td>

										<!--
										<td>
											<a th:href="@{/alumnos/editar/} + ${alumno.idPersona}"
												class="btn btn-secondary">
												<i class="fas fa-angle-double-right"></i> [[#{accion.editar}]]
											</a>
										</td>

										<td>
											<a th:href="@{/alumnos/eliminarAlumno(idPersona=${alumno.idPersona})}"
												class="btn btn-danger">
												<i class="fas fa-angle-double-right"></i> [[#{accion.eliminar}]]
											</a>
										</td>
										
										-->

										<!--
                                            <td>
                                                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/editar/} + ${persona.idPersona}"
                                                   class="btn btn-secondary">
                                                    <i class="fas fa-angle-double-right"></i> [[#{accion.editar}]]
                                                </a>
                                            </td>
                                            <td>
                                                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/eliminar(idPersona=${persona.idPersona})}"
                                                   class="btn btn-danger">
                                                    <i class="fas fa-angle-double-right"></i> [[#{accion.eliminar}]]
                                                </a>
                                            </td>
                                            -->

									</tr>
								</tbody>
							</table>
						</div>
						<div class="text-center p-2" th:if="${asignaciones == null or asignaciones.empty}">
							<span th:text="#{asignacion.lista-vacia}">Lista Vacia</span>
						</div>
					</div>
				</div>




			</div>
		</div>
	</section>
</body>

</html>