<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="layout/plantilla :: head">
        <title>Inicio</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
    <header th:replace="layout/plantilla :: header"/>
    <section th:replace="layout/botonAgregarDocente :: botonAgregarDocente"></section>
        <section th:replace="layout/agregarDocente :: agregarDocente"></section>
       <section th:replace="layout/listadoDocentes :: listadoDocentes"></section>
       
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>